<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel ="icon" href ="img/22.png">
    <link rel="stylesheet" href = "/css/style.css">
    <scritp src = "/js/app.js"> </scritp>
</head>

<body>
    <div class="main-content">
         {{>header}}
        <img class = "portrait" src="/img/11.jpg">
    </div>

    {{>footer}}
</body>   

</html>