<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel ="icon" href ="img/22.png">
    <link rel="stylesheet" href = "/css/about.css">
</head>

<body>
    <div class = "main-container">
         {{>header}}
        <p>{{helpText}}</p>
    </div>
</body>   

</html>