<!DOCTYPE html>
<html>
<head>
    <title>weather</title>
    <link rel ="icon" href ="img/22.png">
    <link rel="stylesheet" href = "/css/style.css">
    <scritp src = "/js/app.js"> </scritp>
</head>

<body>
    <div class = "main-content">
            {{>header}}

            <p>Use this site to get your weather !</p>
     </div>    

     {{>footer}}
</body>   

</html>