<div class = "topnav">
    <header>
        <h1>{{title}}  <img src = "img/22.png" style="width:3%;height:3%;"></h1> 
    </header>
    <a href = "/"> Home</a>
    <a href = "/about">About </a>
    <a href = "/about">Help </a>
    <a href = "/about">Contact </a>
</div>