@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;600&display=swap');


body {
    width: 100%;
    height: auto;
    background-color: #F2F1EB;
}
.main-container{
    position: fixed;
    transform: translate(-50%,-50%);
    width:80%;
    left: 50%;
    top:40%;
    font-family: 'Caveat', cursive;
    text-align: center;
    z-index:3;
}

header{
    color:#F6D6B8;
}

h1{
    font-size:70px;
    text-shadow:1px 1px 1px #000;
    margin-bottom: 1px;
}
header a{
    color: #F6D6B8;
    font-size:35px; 
    margin-right: 16px;
    text-decoration: none;
    text-shadow:1px 1px 1px #000;
}
header a:hover{
    color:white;
}