@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

body {
    width: 100%;
    height: auto;
    background-image: url('/img/bgm.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}

/*--------- header / Nav ------*/
header{ 
    color:#F6D6B8;
    font-family: 'Caveat', cursive;
    text-align: center;
    margin-top:-2%;
}
h1{
    font-size:70px;
    text-shadow:1px 1px 1px #000;
    margin-bottom: 1px;
}
.topnav{
    overflow: hidden;
}

.topnav a{
    color:white;
    font-size:20px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    
}
.topnav a:hover{
    color:#F6D6B8; 
    text-shadow:1px 1px 1px #000;
    background-color: rgba(233, 233, 233, 0.55);
}

/*------- main-content -----------*/
.main-container{
    position: fixed;
    width:80%;
    left: 10%;
    top:15%;
    text-align: center;
}

/*-----------------------*/
.sub-container{
    background-color: #02020275;
    margin-left:15%;
    margin-right:15%;
    border-radius: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

.sub-container p{
    color:white;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    padding-top: 10px;
}
.result p{
    color:#F6D6B8;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
/*-------- form  -----------*/
input{
    border: 1px solid #cccccc;
    padding: 8px;
    border-radius: 20px;
    outline: none;
    width:40%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

button{
    cursor: pointer;
    border: 1px solid #F6D6B8;
    background: #F6D6B8;
    color: white;
    padding: 8px;
    border-radius: 20px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

button:hover{
    border: 1px solid white;
    background: white;
    color: #F6D6B8; 
}

/*----------------------------*/
footer {
    position: fixed;
    color:white ;
    border-top: 1px solid #eeeeee;
    font-size: 25px;
    text-shadow:1px 1px 1px #000;
    font-family: 'Open Sans', sans-serif;
    margin-top:43%;
    width:100%;
    text-align: center;
}



/*----------- Responsive --------------=*/
@media only screen and (max-width: 1024px) {
    .main-container{
        top:10%;
    }

    .sub-container p{
        font-size: 25px;
    }
    .result p{
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    h1{
        font-size:50px;
    }
    .main-container{
        top:10%;
    }
    .sub-container p{
        font-size: 23px;
    }
    .result p{
        font-size: 15px;
    }

    footer {
        border-top: 1px solid #eeeeee;
        font-size: 15px;
        margin-top:42%;
    }
}

@media only screen and (max-width: 400px) {
    body {
        background-color: #eeeeee;
    }
    h1{
        font-size:45px;
    }
    .topnav a{
        font-size:15px;
    }
    .main-container{
        top:13%;
    }
    .sub-container {
        margin-left:5%;
        margin-right:5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 1%;
    }
    .sub-container p{
        font-size: 15px;
    }
    .result p{
        font-size: 15px;
    }
    input{
        font-size: 10px;
    }
    button{
        font-size: 10px;
    }

    footer {
        margin-top:100%;
    }

}



